.container-peculiarities {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  box-sizing: border-box;
}
.section-peculiarities {
  display: flex;
}
.feature1 {
  margin-right: 30px;
}
.antenna {
  margin-bottom: 30px;
}
.clock {
  margin-bottom: 30px;
}
.diagram {
  margin-bottom: 30px;
}
.astronaut {
  margin-bottom: 30px;
}
.title-peculiarities {
  padding-bottom: 10px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
}
.feature2 {
  margin-right: 30px;
}

.feature3 {
  margin-right: 30px;
}

.text-peculiarities-1 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.text-peculiarities-2 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.text-peculiarities-3 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
.text-peculiarities-4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;

  color: #757575;
}
